body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.estilo {
  animation: cambiarColor 5s linear infinite;
}

@keyframes cambiarColor {
  0% {
    color: rgb(255, 0, 0);
  }
  25% {
    color: rgb(0, 255, 0);
  }
  50% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(255, 255, 0);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}